{{ define "main" }}
<content>
  {{ if .Data.Singular }}
  <h3 style="margin-bottom:0">Filtering for "{{ .Title }}"</h3>
  <small>
    <a href="{{ "/blog" | relURL }}">Remove filter</a>
  </small>
  {{ end }}
  <ul class="blog-posts">

{{ $.Scratch.Set "acount" 0 }}


    {{ range .Pages }}
    {{ $.Scratch.Add "acount" 1 }}
    <li>
      <span>
          <time>
            {{ .Date.Format "2006.01.02" }}
          </time>
      </span>
      {{ .Params.icon }}&nbsp;<a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ else }}
    <li>
      No posts yet
    </li>
    {{ end }}
  </ul>
  {{ if .Data.Singular }}
  {{else}}
    <small>
      <div>
        {{ range .Site.Taxonomies.tags }}
        <a href="{{ .Page.Permalink }}">#{{ .Page.Title }}</a>&nbsp;
        {{ end }}

      <br>  ⭐ {{ $.Scratch.Get "acount" }} notes<br>

      </div>
    </small>
    {{ end }}
</content>
{{ end }}
