<style>

        :root { --colback: #FFFFFF; --colfor: #000000; --colaccent2: #000000; --colaccent:#000000; --collink:linkText; --colvisited:visitedText; --colquote:#000000;  --font-stack: sans-serif;  --font-size: 12px;}

  body {
/*font-family: var(--font-stack);
  font-size: var(--font-size); */
  margin: 26px 12px 12px 36px;
  max-width: 900px;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background-color:  var(--colback);
  color: var(--colfor);
  }

  h1 {font-size:140%; color: var(--colaccent2); }
  h2 {font-size:110%; color: var(--colaccent);  }
  a:hover { color: var(--colvisited); }
/*a:before { content: '<'; }
  a:after { content: '>'; }*/
  a {color: var(--collink); }
  .title { text-decoration: none; border: 0; }
  .title span { }
  nav a {margin-right: 10px; }
  textarea {width: 100%;  }
  input { }
  content {line-height: 1.6; }
  img {max-width: 100%; }
  figure {margin: 2rem 0;}
  code {font-family:monospace;padding: 5px 7px;line-height:35px; background-color: var(--colfor);color:var(--colback); }
  ul code {font-family:monospace;padding: 5px 7px;line-height:35px; font-weight:bold; background-color: var(--colback);color:var(--colfor); }

  pre code {color: #ddd; display: block; padding: 20px; white-space: pre-wrap; font-size: 14px; }
  blockquote {border-left: 4px solid var(--colquote); color: var(--colquote); padding-left: 20px; font-style: italic; }
  footer {padding: 5px;display:block;height:auto;float:none; }
  footer a {border-bottom:none;color:var(--colvisited); }
  textarea, input { background-color: #44475a; color: #ddd; }
  .helptext { color: #50fa7b; }
  circle { border-radius: 50%; }
  .errorlist { color: #eba613; font-size: small; }
  ul { list-style-type: square; line-height: 20px; }
  ul.blog-posts {list-style-type: none; padding: unset; line-height: 25px; }
  ul.blog-posts li {display: flex; list-style-type: none; }
  ul.blog-posts li span {flex: 0 0 0px; }
  ul.number-posts {list-style-type: number; padding: unset; line-height: 25px; margin-left:20px; }

  .notesection {height: auto; padding: 0px 0px 16px; }
  .tagsection {height: auto; padding: 0px 0px 16px; }

  .date {color: var(--colaccent); }

  img {
  display: block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  transition: all .20s linear;
  z-index: 0;
  position: relative;
  border: 1px solid lightgrey;
  border-radius: 15px;
  }
  
/* Larger font for mobile devices*/
@media screen and (max-device-width: 480px) {
  body {
      font-size: 85%;
      margin: 2px 2px 2px 12px;
      max-width: 100%;
      line-height: 16px;
  }

  ul {line-height: 20px;}
  img {max-width:95%;}
}
  
</style>
