<style>

/*gruvbox*/  
  :root { --colback: #282828;
	  --colfor: #A89984;
	  --colaccent2:#D65D0E ;
	  --colaccent:#D79921;
	  --collink:#458588;
	  --colvisited:#B16286;
	  --colquote:#458588;
	}
  
  @media (prefers-color-scheme: dark) {
  /* https://github.com/dracula/dracula-theme */

  body {
      /*font-size: 18px;*/
      font-family: monospace;
      /*font-family: serif; */
      font: 1rem Inconsolata, monospace;
      /* text-shadow: 0 0 5px #C8C8C8; */
  margin: 26px 12px 12px 36px;
  max-width: 900px;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background-color:  var(--colback);
  color: var(--colfor);
  
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  b {
  
  }

  h1 {
  font-size:x-large;
  color: var(--colaccent2);
  }

 h2 {
     color: var(--colaccent);
     padding-left: 12px;
     font-weight: normal;
  }

  
  h2 {
  font-size:medium;
  }

  a:hover { color: var(--colvisited);text-decoration:underline; }
  /*a:before { content: '<'; }
  a:after { content: '>'; }*/
  
  a {
      color: var(--collink);
  text-decoration: none;
  }

  a:visited { 

  }

  .title {
  text-decoration: none;
  border: 0;
  }

  .title span {

  }

  nav a {
  margin-right: 10px;
  }

  textarea {
  width: 100%;

  }

  input {

  }

  content {
  line-height: 1.6;
  }

  table {
  width: 100%;
  }

  img {
  max-width: 100%;
  }

  code {
  padding: 2px 5px;
  background-color: #44475a;
  }

  pre code {
  color: #ddd;
  display: block;
  padding: 20px;
  white-space: pre-wrap;
  font-size: 14px;
  }

  blockquote {
  border-left: 4px solid var(--colquote);
  color: var(--colquote);
  padding-left: 20px;
  font-style: italic;
  }

  footer {
  padding: 5px;

  }


  textarea,
  input {
  background-color: #44475a;
  color: #ddd;
  }

  .helptext {
  color: #50fa7b;
  }

  circle {
  border-radius: 50%;
  }

  .helptext {
  color: #777;
  font-size: small;
  }

  .errorlist {
  color: #eba613;
  font-size: small;
  }

  /* blog posts */
  ul.blog-posts {
  list-style-type: none;
  padding: unset;
  line-height: 25px;
  }

  ul.blog-posts li {
      display: flex;
      border-left: 6px solid var(--colquote);
      padding-left:12px;
      margin-left:6px;

  }

  ul.blog-posts li span {
  flex: 0 0 90px;

  }

  .notesection {
  float: left;
  height: auto;
  width: 100%;
  padding: 0px 30px 16px;
  list-style-type: disc;


  }

  h3 {

  }
  ul.blog-posts li a:visited {

  }

</style>
