<style>

  body {
    font-size: medium;
    margin: auto;
    padding: 2px;
    max-width: 720px;
    text-align: left;
    background-color: #fff;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    background-color:  #363636;
    color: #f8f8f2;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  b {
      color: #f1fa8c;
    }

    a {
      color: #ff79c6;
      text-decoration: none;
    }

    a:visited { 
      color: #ee79c6
    }

  .title {
    text-decoration: none;
    border: 0;
  }

  .title span {
    font-weight: 400;
  }

  nav a {
    margin-right: 10px;
  }

  textarea {
    width: 100%;
    font-size: 16px;
  }

  input {
    font-size: 16px;
  }

  content {
    line-height: 1.6;
  }

  table {
    width: 100%;
  }

  img {
    max-width: 100%;
  }

  code {
    padding: 2px 5px;
    background-color: #44475a;
  }

  pre code {
    color: #ddd;
    display: block;
    padding: 20px;
    white-space: pre-wrap;
    font-size: 14px;
  }

  blockquote {
    border-left: 1px solid #999;
    color: #ccc;
    padding-left: 20px;
    font-style: italic;
  }

  footer {
    padding: 5px;
    text-align: center;
  }

  .helptext {
    color: #777;
    font-size: small;
  }

  .errorlist {
    color: #eba613;
    font-size: small;
  }

  /* blog posts */
  ul.blog-posts {
    list-style-type: none;
    padding: unset;
    line-height: 25px;
  }

  ul.blog-posts li {
    display: flex;
  }

  ul.blog-posts li span {
    flex: 0 0 90px;

  }

  .notesection {
  float: left;
  height: auto;
  width: 100%;
  padding: 0 1px 16px;
  }
  
  h3 {
      text-decoration-line: underline;
      text-decoration-style: dotted;
      line-height:0.1px;
  }
  ul.blog-posts li a:visited {
    color: #8b6fcb;
  }

  @media (prefers-color-scheme: dark) {
    /* https://github.com/dracula/dracula-theme */
    body {
	background-color: #363636;
      color: #f8f8f2;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong,
    b {
      color: #f1fa8c;
    }

    a {
      color: #ff79c6;
      text-decoration: none;
    }

    a:visited { 
      color: #ee79c6
    }

    code {
      background-color: #44475a;
    }

    pre code {
      color: #ddd;
    }

    blockquote {
      color: #ccc;
    }

    textarea,
    input {
      background-color: #44475a;
      color: #ddd;
    }

    .helptext {
      color: #50fa7b;
    }

    circle {
	border-radius: 50%;
  }

</style>
