{{ define "main" }}
{{ .Content }}



<!-- <div> -->
<!-- <img src="/images/im-links.png"> -->
<!-- </div> -->


<div class="notesection">
  <h3>c0nt3nts</h3>
        <span style="color:grey;">{recently modified items on top}</span>
      <ul class="blog-posts">

       {{ range (where .Site.Pages "Section" "blog")}}
       {{ if not .IsNode  }}
       <!-- <li><a href="{{ .Permalink }}">{{ .Date.Format "2006-01-02" }}  {{ .Title }}</a> -->
	    <li><span class=date>{{ .Lastmod.Format "20060102" }}</span>&nbsp;<a href="{{ .Permalink }}">  {{ .Title }}</a>

             {{ end }}
             </li>
       {{ end }}
      </ul>


      
</div>



{{ end }}
