{{ define "main" }}
{{ .Content }}

<div>
<img src="/images/im-links.png">
</div>

<div class="notesection">
  <h3>Notes & Pages</h3>
    <ul class="blog-posts">
       {{ range (where .Site.Pages "Section" "other")}}
       {{ if not .IsNode  }}
           <li><a href="{{ .Permalink }}">{{ .Title }}</a>
             {{ end }}
             </li>
	   {{ end }}
	   </ul>
     </div>


<div class="notesection">
  <h3>Technology</h3>
      <ul class="blog-posts">

       {{ range (where .Site.Pages "Section" "tech")}}
       {{ if not .IsNode  }}
           <li><a href="{{ .Permalink }}">{{ .Title }}</a>
             {{ end }}
             </li>
       {{ end }}
	   </ul>
</div>


<div class="notesection">
  <h3>Art</h3>
      <ul class="blog-posts">

       {{ range (where .Site.Pages "Section" "art")}}
       {{ if not .IsNode  }}
           <li><a href="{{ .Permalink }}">{{ .Title }}</a>
             {{ end }}
             </li>
	   {{ end }}
      </ul>
         </div>


<div class="notesection">
  <h3>Γραπτά στα Ελληνικά</h3>
      <ul class="blog-posts">

       {{ range (where .Site.Pages "Section" "greek")}}
       {{ if not .IsNode  }}
           <li><a href="{{ .Permalink }}">{{ .Title }}</a>
             {{ end }}
             </li>
	   {{ end }}
      </ul>
           </div>

{{ end }}
