{{ define "title" }}{{ .Site.Title }}{{ end }}

{{ define "main" -}}
<main class="main layout__main">
<article class="{{ with .Section }}section-{{ . | urlize }} {{ end }}single-view">
<div class="content">
{{ .Content }}
</div>
</article>


<!--
<h1>Sections</h1>

<nav class="folder-menu">

<ul class="navbar">

{{ $currentSection := .Section -}}
{{ $currentID := "" -}}
{{ with .File }}{{ $currentID = .UniqueID }}{{ end -}}

{{ range .Site.Sections -}}
<li><a href="{{ .RelPermalink }}"{{ if eq $currentSection .Section }} class="active" aria-current="page"{{ end }}>📂 {{ .Title }}</a></li>
{{ end -}}

</ul>
</nav>
-->
{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ $paginator := .Paginate $pages -}}
{{ range $paginator.Pages -}}
{{ .Render "summary"}}
{{ end -}}

{{ partial "pagination.html" . }}



<!-- post list -->
{{ $currentSection := .Section -}}
{{ $currentID := "" -}}
{{ with .File }}{{ $currentID = .UniqueID }}{{ end -}}
<aside class="sidebar layout__second-sidebar">

  {{ $.Scratch.Set "acount" 0 }}
  {{ range .Site.Sections -}}
  {{ range .Pages -}}
  {{ $.Scratch.Add "acount" 1 }}
  {{ end -}}
  {{ end -}}

 

  {{ $.Scratch.Set "count" 0 }}
  {{ range .Site.Sections -}}

<section>
 <hr>
<h2>📑 {{ .Title }} </h2>


<!--  {{ range .Pages.GroupByDate "2006" }}
  <h2 style="margin-bottom:1px;">{{ .Key }}</h2>
  {{ $.Scratch.Set "ycount" 0 }} -->


  {{ range .Pages -}}
  {{ $.Scratch.Add "count" 1 }}
<!--  {{ $.Scratch.Add "ycount" 1 }}-->
  

<li style="list-style-type:none;">
  🔳 <a href="{{ .RelPermalink }}"{{ if eq $currentID .File.UniqueID }} class="active" aria-current="page"{{ end }}>{{ .Title }}</a>
</li>

{{ end -}}

<!-- {{ end -}} -->


</section>
  {{ end -}}


  <br>👓 {{ $.Scratch.Get "count" }} items posted.</br>	  

</aside>




</main>
{{ end }}


