{{ define "title" }}{{ .Site.Title }}{{ end }}

{{ define "main" -}}
<main class="main layout__main">
<article class="{{ with .Section }}section-{{ . | urlize }} {{ end }}single-view">
<div class="content">
{{ .Content }}
</div>
</article>


  {{ $.Scratch.Set "acount" 0 }}
  {{ range .Site.Sections -}}
  {{ range .Pages -}}
  {{ $.Scratch.Add "acount" 1 }}
  {{ end -}}
  {{ end -}}
<em>⭐ Posted notes: {{ $.Scratch.Get "acount" }}</em>
<hr>
<br>
{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ $paginator := .Paginate $pages -}}
{{ range $paginator.Pages -}}
{{ .Render "summary"}}
{{ end -}}

{{ partial "pagination.html" . }}
</main>
{{ end }}
